
<h1>Editar Producto</h1>
<form method="POST">
    <label for="name">Nombre</label>
    <input type="text" id="prod_nombre" name="prod_nombre" value="{{ productos.prod_nombre }}" required>
    <label for="price">Precio</label>
    <input type="number"  id="prod_precio" name="prod_precio"  value="{{ productos.prod_precio }}" required>
    <label for="description">Description</label>
    <textarea id="prod_descrp" name="prod_descrp">{{ productos.prod_descrp }}</textarea>

    <label for="price">Iva Producto</label>
    <input type="number" id="prod_ivapro" name="prod_ivapro" required>
    <button type="submit">Editar Producto</button>
</form>

