<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h2>Welcome Home!</h2>
   

    <form action="{{ url_for('logout') }}" method="post">
        <input type="submit" value="Cerrar sesión">
    </form>


<h1>Products</h1>
<a href="{{ url_for('agregar_producto') }}">Agregar</a>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for product in productos %}
        <tr>
            <td>{{ product.prod_nombre }}</td>
            <td>{{ product.prod_precio }}</td>
            <td>{{ product.prod_descrp }}</td>
            <td>
                <a href="{{ url_for('editar_producto', id=product.id) }}">Editar</a>
                <form action="{{ url_for('eliminar_producto', id=product.id) }}" method="POST" style="display:inline;">
                    <button type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


</body>
</html>
